.form-select {
  font-size: 0.7500000025rem !important;
  padding: 10px 18px 10px 12px !important;
  text-decoration: black !important;
  color: black !important;
}

.form-control {
  margin-bottom: 0% !important;
  text-decoration: black !important;
  color: black !important;
}

.btn-close:focus {
  box-shadow: none;
}
